version: '2'

services:
  newrelic-plugin-agent:
    container_name: {{ newrelic_plugin_agent.docker_compose_container_name | default('newrelic-plugin-agent') }}
    image: aguamala/newrelic-plugin-agent:{{ newrelic_plugin_agent.tag | default('latest') }}
    hostname: {{ hostname_replaced | default('newrelic-plugin-agent') }}
    restart: {{ newrelic_plugin_agent.docker_compose_restart_policy | default('on-failure[10]') }}
    privileged: true
    #depends_on:
    # - consul
    extra_hosts:
     - "consul:{{ ansible_default_ipv4.address }}"
    volumes:
     - ./consul-template:/etc/consul-template
     - ./assemble:/opt/newrelic-plugin-agent/assemble

networks:
  default:
    external:
      name: {{ newrelic_plugin_agent.docker_compose_network | default('bridge') }}
